/* top-btn nav-btn */
#top-btn,
#nav-btn {
  position: fixed;
  right: 2%;
  display: inline-block;
  width: 64px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  background: #eeeeee;
  color: #222222;
  transition: 0.05s all ease-in-out;
  opacity: 0.3;
  cursor: pointer;
  background-size: 100% 3px;
}

#top-btn {
  bottom: 2%;
}
#nav-btn {
  bottom: 8%;
}

#top-btn:hover,
#nav-btn:hover,
.nav-show-hide {
  opacity: 0.8;
}

/* postamble botton */
#input-postamble-menu {
  display: none;
}

#label-postamble-menu {
  position: fixed;
  right: 2%;
  display: inline-block;
  width: 64px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  background: #eeeeee;
  color: #222222;
  /* transition: 0.05s all ease-in-out; */
  opacity: 0.3;
  cursor: pointer;
  background-size: 100% 3px;
  top: 2%;
  z-index: 2;
  user-select: none;
}

#label-postamble-menu:hover {
  opacity: 0.8;
}

#label-postamble-menu img {
  width: 12px;
  height: 11px;
  line-height: 32px;
  margin-bottom: -1px;
  margin-right: 2px;
  cursor: pointer;
  box-shadow: unset;
  transition: unset;
  display: inline;
}

#label-postamble-menu img:hover {
  box-shadow: unset;
}

#input-postamble-menu:checked ~ #postamble {
  right: 0px;
  transition: right 500ms ease;
}

/* postamble */
#postamble {
  position: fixed;
  top: 0;
  right: -18%;
  width: 16%;
  /* min-width: 275px; */
  height: 100%;
  padding: 3.5% 1%;
  /* background-color: #333333; */
  background-color: #1c1c1e;
  color: #cccccc;
  box-shadow: 1px 0 3px #cccccc;
  transition: right 500ms ease;
  z-index: 1;
}

#header-of-postamble {
  font-size: 30px;
  line-height: 52px;
  margin-bottom: 26px;
}

/* menu */
#common-list,
#operation-of-postamble {
  padding: 8px 8px;
  margin-bottom: 3%;
}

#common-list {
  margin-top: 15%;
}

#common-list ul,
#operation-of-postamble ul {
  margin: 0;
}

#common-list li,
#operation-of-postamble li {
  height: 36px;
  list-style: none;
}

#common-list a {
  display: block;
  color: unset;
  padding-left: 5%;
  height: 36px;
  line-height: 36px;
  text-decoration: none;
}

#operation-of-postamble span {
  padding-left: 5%;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  user-select: none;
}

#common-list li:hover,
#operation-of-postamble li:hover {
  color: black;
  background-color: #fff04a;
  /* background-color: #adadad; */
}
