/* nickname */
@font-face {
    font-family: mottoFont;
    src: url("../fonts/SCRIPTIN.ttf") format("TrueType");
}

/* navigatebar */
@font-face {
    font-family: angelinaFont;
    src: url("../fonts/angelina.ttf") format("TrueType");
}

/* content */
@font-face {
    font-family: jinkaiFont;
    src: url("../fonts/jinkai.ttf") format("TrueType");
}

/* code */

