@import './font.css';
@import './code.css';
@import './classes.css';
@import './button.css';

/*
- content
- header
- footer
- h1, h2, h3
- p
- table
- TOC
- list
- image
- scrollbar
- blockquote
- example
- a
- b
- hr
- underline
- timestamp
- verbatim
*/

/* custom base */
* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 15px;
	/* zoom: 0.8; */
}

/* Background options */
body,
#content::before {
	background-color: #e6e6e6;
}

#content {
    font-family: jinkaiFont;
	font-size: 15px;
	line-height: 1.6;
	color: #24292f;
	background-color: #ffffff;
	width: 60%;
	min-width: 885px;
	margin: 0 auto;
	padding: 0 16px;
}

/* custom header */
.title {
	font-size: 30px;
	color: #222222;
	margin-bottom: 32px;
	padding: 30px 0 8px 0;
	border-bottom: 2px solid;
	border-image: linear-gradient(to right, #147, #f66) 30 30;
}

/* custom footer */
#content {
	padding-bottom: 32px;
}

.author,
.date,
.validation {
	display: none;
}

#content::after {
	content: '';
	display: block;
	padding-bottom: 32px;
	border-bottom: 2px solid;
	border-image: linear-gradient(to right, #f66, #147) 30 30;
}

div.footpara,
div.footpara > p.footpara {
	display: inline;
}

/* custom h1, h2, h3 */
h2, h3, h4, h5, h6 {
	margin-top: 16px;
	margin-bottom: 14px;
	font-size: 18px;
}

h2 {
	background: linear-gradient(to bottom, #77a2d3, rgb(37, 74, 110));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

h3 {
	background: linear-gradient(to bottom, #ff9999, #996699);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

h4 {
	background: linear-gradient(to bottom, #7fbebe, #152b2b);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

h5 {
	background: linear-gradient(to bottom, #919148, #339933);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

h6 {
	background: linear-gradient(to bottom, #fe8c00,#f83600);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

h2:before {
	content: '# ';
}
h3:before {
	content: '## ';
}
h4:before {
	content: '### ';
}
h5:before {
	content: '#### ';
}
h6:before {
	content: '##### ';
}

/* p */
p {
	margin-bottom: 10px;
}

/* custom table */
table {
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: 10px;
	overflow: auto;
}

table a {
	text-decoration: none;
}

th, td {
	min-width: 24px;
	border: 1px solid #b9b9b9;
	padding: 3px 7px;
	text-align: center;
	font-size: .9em;
}

tbody tr:nth-child(odd) td {
	background-color: #f5f5f5;
}

/* TOC style */
#table-of-contents {
	background: rgba(255, 255, 255, 0.86);
	position: fixed;
	top: 0;
	padding: 0 1%;
	width: 16%;
	min-width: 275px;
	height: 100%;
	min-height: 100%;
	box-shadow: 1px 0 3px #CCCCCC;
	font-size: 14px;
	transition: 0.3s all ease-in-out;
	z-index: 1;
	left: -16%;
	opacity: 0;
}

#table-of-contents:hover {
	left: 0;
	opacity: 1;
}

#table-of-contents a {
	text-decoration: none;
}

#table-of-contents a:hover {
	text-decoration: underline;
}

#table-of-contents h2 {
	color: #222222;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 2px solid rgb(136, 136, 136);
}

#table-of-contents h2:before {
	content: '';
}

#table-of-contents h2:after {
	content: ' : ';
}

#text-table-of-contents {
	height: 89%;
	overflow: auto;
}

/* custom list */
ul, ol {
	list-style-position: outside;
	/* p 标签的 margin-bottom: 10px */
	margin: 0 0 10px 25px;
}

li > ul,
li > ol {
	margin: 0 0 0 20px;
}

li > p {
	margin: 0;
}


/* custom image */
img {
	max-width: 100%;
	cursor: zoom-in;
	box-shadow: 0 0 3px 1px rgba(51, 51, 51, 0.5);
	transition: 0.3s;
	display: block;
	margin-bottom: 10px;
}

img:hover {
	box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
}

/* blockquote */
blockquote {
	margin-bottom: 10px;
	padding: 0.95em 0 0.95em 0.95em;
	color: #336699;
	background-color: #f5f5f5;
	border-left: 4px solid #b9b9b9;
}

blockquote p {
	margin: 0;
}

blockquote p+ul {
	margin-top: 0;
}

/* example */
.example {
	color: #4d4d4c;
	background-color: #f5f5f5;
}

/* b */
b {
	font-weight: 900;
}

/* br */
hr {
	color: #A2A9B6;
	border: 0;
	font-size: 12px;
	padding: 14.5px 0;
	position: relative;
}

hr::before {
	content: '分割线';
	position: absolute;
	padding: 0 1ch;
	line-height: 1px;
	border: solid #D0D0D5;
	border-width: 0 99vw;
	width: fit-content;
	white-space: nowrap;
	left: 50%;
	transform: translateX(-50%);
}

/* custom a */
a {
	text-decoration: t;
	color: #0000CC;
}

/* underline */
.underline {
	padding-bottom: 1px;
	border-bottom: 2px solid #000000;
}

/* timestamp */
.timestamp {
    padding: 3px 6px;
    background-color: #B9B9B9;
    border-radius: 3px;
	font-family: Source Code Pro,DejaVu Sans Mono,Ubuntu Mono,Anonymous Pro,Droid Sans Mono,Menlo,Monaco,Consolas,Inconsolata,Courier,monospace,PingFang SC,Microsoft YaHei,sans-serif;
    font-size: 14px;
    color: #000000;
}

/* verbatim */
verbatim {
    padding: 3px 6px;
    background-color: #B9B9B9;
    border-radius: 3px;
	font-family: Source Code Pro,DejaVu Sans Mono,Ubuntu Mono,Anonymous Pro,Droid Sans Mono,Menlo,Monaco,Consolas,Inconsolata,Courier,monospace,PingFang SC,Microsoft YaHei,sans-serif;
    font-size: 14px;
    color: #000000;
}
