/* ----- The Timeline ----- */
/* 时间轴的位置与宽度 */
.timeline {
    position: relative;
    /* 时间轴的总宽度 */
    width: 960px;
    margin: 10px auto;
    padding: 15px 0;
    list-style-type: none;
}

/* 时间轴这条轴 */
.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: '';
    display: block;
    width: 1.5px;
    height: 100%;
    margin-left: -1px;
    background: rgb(80, 80, 80);
    z-index: 5;
}

.timeline:after {
	position: absolute;
    left: 50%;
	content: '';
	display: block;
    color: rgb(80, 80, 80);
    margin-left: -4.4px;
	bottom: -14.5px; /* arrow position */
	border-left: 4.4px solid transparent;
	border-right: 4.4px solid transparent;
	border-top: 14.5px solid rgb(80, 80, 80);
}

.timeline>li {
    /* 上下间距 */
    padding: 1em 0;
}

/* li 之间间隔 */
.timeline>li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    width: 451px;
    float: left;
    text-align: right;
}

.direction-r {
    position: relative;
    width: 451px;
    float: right;
}

/* 小标题 timeline -> direction-l -> head-wrapper-timeline -> flag-timeline */
.head-wrapper-timeline {
    width: 100%;
    position: relative;
    display: inline-block;
}

.flag-timeline {
    position: relative;
    display: inline;
    background: rgb(248, 248, 248);
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 400;
    text-align: left;
}

/* ----- 下面是对左右两边的修整 ----- */

.direction-l .flag-timeline {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag-timeline {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag-timeline:before,
.direction-r .flag-timeline:before {
    position: absolute;
    top: 70%;
    content: ' ';
    display: block;
    width: 8px;
    height: 8px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 2px solid rgb(255, 80, 80);
    z-index: 10;
}

/*
.timeline  ->  .direction-l  ->  .flag-timeline
  960px           451px             29px+8/2+2/2=34px
960/2 = 480px - 451px = 29px          width  border
*/
.direction-l .flag-timeline:before {
    right: -34px;
}

.direction-r .flag-timeline:before {
    left: -35px;
}

/* 三角形 */
.direction-l .flag-timeline:after,
.direction-r .flag-timeline:after {
    content: "";
    position: absolute;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-width: 8px;
    pointer-events: none;
}

.direction-l .flag-timeline:after {
    left: 100%;
    border-left-color: rgb(248, 248, 248);
}

.direction-r .flag-timeline:after {
    right: 100%;
    border-right-color: rgb(248, 248, 248);
}

/* 时间 */
.date-wrapper-timeline {
    display: inline;
    line-height: 1em;
    font-size: 0.77777em;
    color: rgb(250, 80, 80);
    vertical-align: middle;
}

/*
.direction-l .date-wrapper-timeline {
    margin-right: 5px;
    margin-bottom: 0px;
    float: left;
}
*/

.date-timeline {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248, 248, 248);
}

/* timeline desc */
.desc-timeline {
    margin: 1em 0.75em 0 0;
    font-size: 1em;
    font-style: italic;
    line-height: 1.5em;
}

.desc-timeline li {
    list-style-type: none;
}

.direction-l ul {
    margin-right: 0px;
}

.direction-l .desc-timeline li:after {
    content: "•";
    margin-left: 5px;
}

.direction-r ul {
    margin-left: 0px;
}

.direction-r .desc-timeline li:before {
    content: "•";
    margin-right: 5px;
}

.direction-r .desc-timeline {
    margin: 1em 0 0 0.75em;
}
