/* Customization button style */
/* ////////////////////////////////////////// */
.top-btn,
.nav-btn {
    position: fixed;
    right: 2%;
    display: inline-block;
    width: 0.64rem;
    height: 0.32rem;
    text-align: center;
    border-radius: 5px;
    background: #eee;
    color: #222;
    font-size: 0.12rem;
    line-height: 0.32rem;
    transition: 0.05s all ease-in-out;
    opacity: 0.3;
    cursor: pointer;

    background-image: linear-gradient(
        0deg,
        #eee 50%,
        rgba(255, 255, 255, 0.5) 50%
    );
    background-size: 100% 3px;
}

.top-btn {
    bottom: 2%;
}
.nav-btn {
    bottom: 8%;
}

.top-btn:hover,
.nav-btn:hover,
.nav-show-hide {
    /*background: #eee;*/
    opacity: 0.8;
}
