.underline {
		text-decoration-line: underline;
		text-decoration-style: solid;
		text-decoration-color: #000;
		/* text-decoration-color: red; */
		text-decoration-thickness: 2px;
}

/* 相邻弟选择器，用于脚注 */
sup + .footpara {
		display: inline-block;

}

.reference {
		font-size: smaller;
		text-align: right;
}

.div-center {
		text-align: center;
		width: 100%;
}
