.reference {
		font-size: smaller;
		text-align: right;
}

.div-center {
		margin-bottom: 10px;
}

.div-center img {
		margin: 0 auto;
}

/* table-of-contents */
#table-of-contents #pin-table-of-contents {
		transition: 0.3s;
		position: absolute;
		right: 5%;
		top: 30%;
}

#table-of-contents img {
		cursor: pointer;
		box-shadow: unset;
}

#table-of-contents img:hover {
		box-shadow: unset;
}

#header-table-of-contents {
		position: relative;
}

.clockwise {
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
}

#footer-table-of-contents {
		padding-bottom: 6%;
		border-bottom: 2px solid rgb(136, 136, 136);
}
