.underline {
		padding-bottom: 1px;
		border-bottom: 2px solid #000;
}

/* 相邻弟选择器，用于脚注 */
sup + .footpara {
		display: inline-block;

}

.reference {
		font-size: smaller;
		text-align: right;
}

.div-center {
		text-align: center;
		width: 100%;
}
