/* Source code style */
/* ////////////////////////////////////////// */
code {
    color: #135; /*  #D63384*/
    text-shadow: 1px 1px 1px #99999966;

    font-size: 0.14rem;
    font-family: Monaco, Consolas, 'monospace', 'kaiti';
}

pre {
    position: relative;
    margin: 0.16rem 0;
    padding: 0.14rem;
    padding-left: 0.08rem;
    background: rgba(255, 255, 255, 0.6);
    color: #135;
    font-size: 0.14rem;
    font-family: Monaco, Consolas, 'monospace', 'kaiti';
    overflow: hidden;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUeNpiZGBg4GegAsBlCD8TqSYNQg2Mo6FEBAAIMACdPABtrSW/IQAAAABJRU5ErkJggg==');
    background-color: #fff1;
    background-repeat: repeat;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
    border-left: 2px solid rgba(117, 117, 118, 0.2);
}

pre:hover {
    overflow: auto;
}

span.linenr {
    display: inline-block;
    margin-right: 0.16rem;
    width: 0.4rem;
    text-align: right;
    border-right: 2px solid #eee;
}

.js-pre-dblclick {
    border: 2px dashed #19f;
}
.js-pre-dblclick .linenr {
    display: none;
}

.js-code-src {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 0.05rem;
    color: #999;
}

pre:hover .js-code-src {
    display: none;
}
