@media screen and (max-width: 1026px) {
    #content,
    #postamble {
        width: 100%;
    }
    #postamble::before,
    #content::before {
        width: 100%;
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        filter: blur(20px);
        z-index: -1;
    }

    .title {
        font-size: 0.2rem;
        white-space: nowrap;
        overflow: auto;
    }

    .js-link-active {
        color: #fff;
        background: #19f;
        padding: 1px 2px;
    }

    pre {
        overflow: auto;
    }

    #top-btn {
        right: 0;
        bottom: 1%;
        opacity: 0;
    }

    #nav-btn {
        right: 0;
        bottom: 7%;
        opacity: 0;
    }

    /* .js-outline-2, */
    .js-outline {
        padding: 0.25rem 0.1rem 0.05rem 0.1rem;
        box-shadow: 0px 0px 0px #ccc;
        border-radius: 0;
    }

    .js-outline:nth-child(even) {
        background-color: rgba(200, 200, 200, 0.1);
    }

    .js-outline:hover {
        box-shadow: 0px 0px 0px #ccc;
    }

    .org-ul {
        overflow: auto;
    }

    code, a {
        word-break: break-all;
    }

    .js-home-content {
				width: 100%;
    }

		table {
				width: 80%;
		}
}
