@import './code.css';
@import './button.css';
@import './mobile.css';
@import './classes.css';
@import './Pages.css';

/*
@font-family {
		font-family: "MathJax_Main";
		src: url('../fonts/woff-v2/MathJax_Main-Regular.woff') format('woff');
}

@font-family {
		font-family: "MathJax_Math-italic";
		src: url('../fonts/woff-v2/MathJax_Math-Italic.woff') format('woff');
}

@font-family {
		font-family: "MathJax_Zero";
		src: url('../fonts/woff-v2/MathJax_Zero.woff') format('woff');
}
*/

/*
- base
- header
- footer
- h1, h2, h3
- a
- table
- TOC
- list
- image
- scrollbar
- blockquote
- example
- p
- b
- others
*/

/* custom base */
* {
		margin: 0;
		padding: 0;
}

html {
		font-size: 100px;
		zoom: 0.8;
}

/* Background options */
body,
#content::before,
#postamble::before {
		/* background: url('../../images/bg/bg1.jpg') center center / cover no-repeat fixed; */
		background-color: #E6E6E6;
}

#content,
#postamble {
		position: relative;
		/* background-color: rgba(250, 250, 250, 0.80); */
		background-color: #FFFFFF;
		width: 60%;
		min-width: 885px;
		margin: 0 auto;
		padding: 0 0.16rem;
		line-height: 1.6;
		font-size: 0.15rem;
		font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* custom header */
.title {
		width: 100%;
		margin: 0 0 0.32rem 0;
		padding: 0.32rem 0 0.08rem 0;
		border-bottom: 2px solid;
		border-image: linear-gradient(to right, #147, #f66) 30 30;
		font-size: 0.31rem;
		color: #222222;
}

/* custom footer */
#content {
		padding-bottom: 0.32rem;
}

.author {
		display: none;
}

.date {
		display: none;
}

.validation {
		display: none;
}

#content::after {
		content: '';
		display: block;
		padding-bottom: 0.32rem;
		border-bottom: 2px solid;
		border-image: linear-gradient(to right, #f66, #147) 30 30;
		color: #666;
}

/* custom h1, h2, h3 */
h1, h2, h3, h4, h5, h6 {
		font-size: 100%;
}

h2, h3, h4, h5, h6 {
		margin: 0.16rem 0;
		font-size: 0.18rem;
		/* text-align: center; */
}

h2 {
		background: linear-gradient(to bottom, #77a2d3, rgb(37, 74, 110));
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
}

h3 {
		background: linear-gradient(to bottom, #ff9999, #996699);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
}

h4 {
		background: linear-gradient(to bottom, #7fbebe, #152b2b);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
}

h5 {
		background: linear-gradient(to bottom, #919148, #339933);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
}

h6 {
		background: linear-gradient(to bottom, #fe8c00,#f83600);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
}

h2:before {
		content: '# ';
}
h3:before {
		content: '## ';
}
h4:before {
		content: '### ';
}
h5:before {
		content: '#### ';
}
h6:before {
		content: '##### ';
}

/* custom a */
a {
		text-decoration: t;
		color: #0000CC;
}

/* custom table */
table {
		border-collapse: collapse;
		border-spacing: 0;
		margin: 0.25rem 0;
}

table a {
		text-decoration: none;
}

th, td {
		min-width: 24px;
		border: 1px solid #b9b9b9;
		padding: 3px 7px;
		text-align: center;
		font-size: .9em;
}

tbody tr:nth-child(odd) td {
		background-color: #F5F5F5;
}


/* TOC style */
#table-of-contents {
		position: fixed;
		left: -16%;
		top: 0;
		padding: 0 1%;
		min-width: 16%;
		width: 16%;
		/* max-width: 16.5%; */
		min-height: 100%;
		height: 100%;
		box-shadow: 1px 0 3px #ccc;
		color: #000;
		font-size: 0.14rem;
		opacity: 0;
		transition: 0.3s all ease-in-out;
		overflow: hidden;
		z-index: 1;
}

#table-of-contents:hover {
		left: 0;
		background: rgba(255, 255, 255, 0.86);
		opacity: 1;
		overflow: auto;
}

#table-of-contents a {
		text-decoration: none;
}

#table-of-contents a:hover {
		text-decoration: underline;
}

#table-of-contents h2 {
		/* background: red; */
		color: #000;
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: 2px solid rgb(136,136,136);
}

#table-of-contents h2:before {
		content: '';
}

#table-of-contents h2:after {
		content: ' : ';
}

#table-of-contents ul {
		padding: 0 0 0 0.25rem;
}

.js-link-active {
		padding: 1px 2px;
		background: #19f;
		color: #fff;
}

/* custom list */
ul, ol {
		list-style-position: outside;
		padding: 0.06rem 0 0.06rem 0.25rem;
}

li > ul,
li > ol {
		padding: 0 0 0 0.2rem;
}

dl {
		/* font-family: "微软雅黑", "宋体", "Microsoft YaHei", "黑体", "华文细黑", Helvetica, Tahoma, Arial, STXihei, Heiti, SimSun, sans-s; */
}

dt {
		display: inline;
		font-family: Consolas, "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		/* font-weight: bold; */
}

dt:before {
		padding-left: 0.05rem;
		content: '• ';
}

dd {
		display: inline;
		margin-left: 0.125rem;
}

dd:before {
		font-weight: bolder;
		content: ': : ';
		margin-right: 0.07rem;
}

/* custom image */
img {
		max-width: 100%;
		cursor: zoom-in;
		/* width: 620px; */
		box-shadow: 0 0 3px 1px rgba(51, 51, 51, 0.5);
		transition: 0.3s;
}

img:hover {
		box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
}

/* blockquote */
blockquote {
		margin: 1em 0;
		padding-left: 1em;
		padding-bottom: 1em;
		padding-top: 1em;
		border-left: 4px solid #b9b9b9;
		background-color: #F5F5F5;
		color: #369;
}

blockquote p {
		margin: 0;
}

blockquote p+ul {
		margin-top: 0;
}

/* example */
.example {
		color: #4D4D4C;
		/* background-color: #F7F7F7; */
		background-color: #F5F5F5;
}

/* p */
p {
		margin: 0.145rem 0;
		/* text-indent: 2em; */
}

p+ul {
		margin-top: -0.140rem;
}

/* b */
b {
		font-weight: 900;
}

hr {
		color: #a2a9b6;
		border: 0;
		font-size: 12px;
		padding: 0.145rem 0;
		position: relative;
}

hr::before {
		content: '分割线';
		position: absolute;
		padding: 0 1ch;
		line-height: 1px;
		border: solid #d0d0d5;
		border-width: 0 99vw;
		width: fit-content;
		/* for 不支持fit-content浏览器 */
		white-space: nowrap;
		left: 50%;
		transform: translateX(-50%);
}
