@import './code.css';
@import './button.css';
@import './mobile.css';
@import './PageHome.css';
@import './PageAbout.css';
@import './PageCard.css';
@import './PageNavigation.css';

/*
- base
- header
- footer
- h1, h2, h3
- a
- table
- TOC
- list
- image
- scrollbar
- blockquote
- example
- p
- others
*/

/* custom base */
* {
		margin: 0;
		padding: 0;
}

html {
    font-size: 100px;
}

/* Background options */
body,
#content::before,
#postamble::before {
		/* background: url('../../images/bg/bg1.jpg') center center / cover no-repeat fixed; */
    background-color: #E6E6E6;
}

#content,
#postamble {
    position: relative;
    /* background-color: rgba(250, 250, 250, 0.80); */
		background-color: #FFFFFF;
    width: 60%;
    margin: 0 auto;
    padding: 0 0.16rem;
    line-height: 1.6;
    font-size: 0.15rem;
    font-family: "微软雅黑", "Georgia", "Helvetica", "Consolas";
}

/* custom header */
.title {
    width: 100%;
    margin: 0 0 0.32rem 0;
    padding: 0.32rem 0 0.08rem 0;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #147, #f66) 30 30;
    font-size: 0.31rem;
		color: #222222;
}

/* custom footer */
#content {
    padding-bottom: 0.32rem;
}

#content::after {
    content: '';
    display: block;
    padding-bottom: 0.32rem;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #f66, #147) 30 30;
    color: #666;
}

/* custom h1, h2, h3 */
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

h2, h3, h4, h5, h6 {
    margin: 0.16rem 0;
    font-size: 0.18rem;
    background: linear-gradient(to bottom, #77a2d3, rgb(37, 74, 110));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

h3 {
    background: linear-gradient(to bottom, #ff9999, #996699);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

h4 {
    background: linear-gradient(to bottom, #7fbebe, #152b2b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

h5 {
    background: linear-gradient(to bottom, #919148, #339933);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

h2:before {
    content: '# ';
}
h3:before {
    content: '## ';
}
h4:before {
    content: '### ';
}
h5:before {
    content: '#### ';
}

/* custom a */
a {
    text-decoration: t;
    color: #0000CC;
}

/* custom table */
table {
    border-collapse: collapse;
    margin: 0.25rem 0;
		border-left: 1px solid;
		/* border-right: 1px solid; */
}

table a {
    text-decoration: none;
}

thead tr {
    border-top: 1px solid;
}

tbody {
    border-top: 1px solid;
}

tbody tr {
    border-bottom: 1px solid;
}

tbody tr:last-child {
    border-bottom: 1px solid;
}

th, td {
    padding: 1px 6px;
		border-right: 1px solid;
}

/* TOC style */
#table-of-contents {
    position: fixed;
    left: -16%;
    top: 0;
    padding: 0 1%;
    min-width: 16%;
    min-height: 100%;
    height: 100%;
    box-shadow: 1px 0 3px #ccc;
    color: #369;
    font-size: 0.16rem;
    opacity: 0;
    transition: 0.3s all ease-in-out;
    overflow: hidden;
    z-index: 1;
}

#table-of-contents:hover {
    left: 0;
    background: rgba(255, 255, 255, 0.86);
    opacity: 1;
    overflow: auto;
}

#table-of-contents a {
    text-decoration: none;
}
#table-of-contents h2:before {
    content: '';
}

.js-link-active {
    padding: 1px 2px;
    background: #19f;
    color: #fff;
}

/* custom list */
ul, ol {
    list-style-position: outside;
    padding: 0.06rem 0 0.06rem 0.25rem;
}

li > ul,
li > ol {
    padding-left: 0.2rem;
}


/* custom image */
img {
    max-width: 100%;
    cursor: pointer;
}

/* blockquote */
blockquote {
    margin: 1em 0;
    padding-left: 1em;
		padding-bottom: 1em;
		padding-top: 1em;
		border-left: 4px solid #b9b9b9;
		background-color: #F5F5F5;
    color: #369;
}

blockquote p {
    margin: 0;
}

/* example */
.example {
    color: #4D4D4C;
    /* background-color: #F7F7F7; */
		background-color: #F5F5F5;
}


/* p */
p {
    margin: 0 0 0.145rem 0;
}

p+ul {
    margin-top: -0.145rem;
}
