.js-nav-body table {
    width: 100%;
}

.js-nav-body thead,
.js-nav-body tbody:nth-child(even) {
		background-color: #F5F5F5;
    background-size: 100% 3px;
}

.js-nav-body thead {
    color: #ccc;
    font-family: 'Segoe Script', 'Courier New';
}

.js-nav-body tbody tr td a {
    display: block;
    text-align: center;
}

.js-nav-body tbody tr td:hover {
    box-shadow: 1px 1px 6px #369;
}

.js-nav-link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.js-nav-link-container a {
    display: inline-block;
    margin: 0.03rem 0;
    padding: 0.01rem 0.02rem;
    width: 18%;
    border: 1px solid #19f;
    border-radius: 3px;
    white-space: nowrap;
}

.js-nav-link-container a:hover {
    background-color: #19f;
    color: #fff;
}
