.js-wiki-outline {
    position: relative;
    margin: 0.2rem 0;
    padding: 0.24rem 0.32rem 0.24rem 0.1rem;
    border-radius: 0.06rem;
    box-shadow: 1px 1px 5px #ccc;
    transition: all 0.3s ease-in-out;
}

.js-wiki-outline:nth-child(odd) .js-code-src {
    z-index: 0;
}

.js-wiki-outline h2 {
    position: absolute;
    top: -0.08rem;
    right: 0.1rem;
    color: #8b8e86 !important;
    font-size: 0.12rem;
		font-weight: normal;
}

.js-wiki-outline h2:before {
    content: '';
}

.js-wiki-outline:hover {
    box-shadow: 5px 5px 9px #ccc;
}
