.js-outline {
    position: relative;
    margin: 0.2rem 0;
    /* padding: 0.25rem 0.32rem 0.05rem 0.1rem; */
    padding: 0.24rem 0.32rem 0.24rem 0.1rem;
    border-radius: 0.06rem;
    box-shadow: 1px 1px 5px #ccc;
    transition: all 0.3s ease-in-out;
}

.js-outline:nth-child(even) {
    /*background-color: rgba(200, 200, 200, 0.1);*/
    background-image: linear-gradient(
        0deg,
        rgba(240, 245, 249, 0.5) 50%,
        rgba(255, 255, 255, 0.5) 50%
    );
    background-size: 100% 3px;
}
.js-outline:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.5);
}
.js-outline:nth-child(odd) pre {
    /* border: 2px solid rgba(234, 234, 234, 0.2); */
}
.js-outline:nth-child(odd) .js-code-src {
    z-index: 0;
}

.js-outline h3 {
    position: absolute;
    top: -0.08rem;
    right: 0.1rem;
    color: #abc !important;
    font-size: 0.12rem;
}

.js-outline h3:before {
    content: '';
}

.js-outline:hover {
    box-shadow: 5px 5px 9px #ccc;
}
