/* .js-home-content { */
/*     background: url('../../images/bg/bggirl.gif') no-repeat right; */
/* } */

.js-home-content table {
    background-color: rgba(255, 255, 255, 0.16);
}

.js-home-content thead {
    border-bottom: 2px solid #e69;
}

.js-home-content thead th {
		padding: 1.5px 1.5px;
    min-width: 2.4rem;
}

.js-home-content tbody {
    display: none;
}

.js-home-content tbody tr td a {
    display: inline-block;
    width: 100%;
}
