/********************* Page Home *********************/
/* .js-home-content { */
/*     background: url('../../images/bg/bggirl.gif') no-repeat right; */
/* } */

.js-home-content table {
		width: 100%;
    /* display: inline-block; */
    background-color: rgba(255, 255, 255, 0.16);
}

.js-home-content thead {
    border-bottom: 2px solid #e69;
}

.js-home-content thead th {
		cursor: pointer;
		padding: 1.5px 1.5px;
    min-width: 1.2rem;
}

.js-home-content tbody {
    display: table-row-group;
    /* display: none; */
}

.js-home-content tbody tr td a {
    display: inline-block;
    width: 100%;
}

/********************* Page Card *********************/
.js-outline {
    position: relative;
    margin: 0.2rem 0;
    /* padding: 0.25rem 0.32rem 0.05rem 0.1rem; */
    padding: 0.24rem 0.32rem 0.24rem 0.1rem;
    border-radius: 0.06rem;
    box-shadow: 1px 1px 5px #ccc;
    transition: all 0.3s ease-in-out;
}

.js-outline:nth-child(even) {
    /*background-color: rgba(200, 200, 200, 0.1);*/
    background-image: linear-gradient(
        0deg,
        rgba(240, 245, 249, 0.5) 50%,
        rgba(255, 255, 255, 0.5) 50%
    );
    background-size: 100% 3px;
}
.js-outline:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.5);
}
.js-outline:nth-child(odd) pre {
    /* border: 2px solid rgba(234, 234, 234, 0.2); */
}
.js-outline:nth-child(odd) .js-code-src {
    z-index: 0;
}

.js-outline h3 {
    position: absolute;
    top: -0.08rem;
    right: 0.1rem;
    color: #abc !important;
    font-size: 0.12rem;
}

.js-outline h3:before {
    content: '';
}

.js-outline:hover {
    box-shadow: 5px 5px 9px #ccc;
}

/********************* Page Nav *********************/
.js-nav-body table {
		margin-left: 2.5%;
    width: 95%;
}

.js-nav-body thead,
.js-nav-body tbody:nth-child(even) {
		background-color: #F5F5F5;
    background-size: 100% 3px;
}

.js-nav-body thead {
    color: #ccc;
    font-family: 'Segoe Script', 'Courier New';
}

.js-nav-body tbody tr td a {
    display: block;
    text-align: center;
}

.js-nav-body tbody tr td:hover {
    box-shadow: 1px 1px 6px #369;
}

.js-nav-link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.js-nav-link-container a {
    display: inline-block;
    margin: 0.03rem 0;
    padding: 0.01rem 0.02rem;
    width: 18%;
    border: 1px solid #19f;
    border-radius: 3px;
    white-space: nowrap;
}

.js-nav-link-container a:hover {
    background-color: #19f;
    color: #fff;
}

.js-math-outline {
    position: relative;
    margin: 0.2rem 0;
    padding: 0.24rem 0.32rem 0.24rem 0.1rem;
    border-radius: 0.06rem;
    box-shadow: 1px 1px 5px #ccc;
    transition: all 0.3s ease-in-out;
}

.js-math-outline:nth-child(even) {
    background-image: linear-gradient(
        0deg,
        rgba(240, 245, 249, 0.5) 50%,
        rgba(255, 255, 255, 0.5) 50%
    );
    background-size: 100% 3px;
}

/********************* Page Math *********************/
.js-math-outline:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.5);
}
.js-math-outline:nth-child(odd) pre {
    /* border: 2px solid rgba(234, 234, 234, 0.2); */
}
.js-math-outline:nth-child(odd) .js-math-code-src {
    z-index: 0;
}

.js-math-outline h3 {
    background: linear-gradient(to bottom, #ff9999, #996699);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /* color: #abc !important; */
    font-size: 0.16rem;
}

.js-math-outline h3:before {
    content: '';
}

.js-math-outline:hover {
    box-shadow: 5px 5px 9px #ccc;
}
