/********************* Page Home *********************/
.js-home-content table {
		width: 100%;
		margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.16);
}

.js-home-content thead {
    border-bottom: 2px solid #EE6699;
}

.js-home-content thead th {
		cursor: pointer;
		padding: 1.5px 1.5px;
    min-width: 1.2rem;
}

.js-home-content tbody {
    display: table-row-group;
}

.js-home-content tbody tr td a {
    display: inline-block;
    width: 100%;
}

/********************* Page Nav *********************/
.js-nav-body table {
		margin-left: 2.5%;
    width: 95%;
}

.js-nav-body thead,
.js-nav-body tbody:nth-child(even) {
		background-color: #F5F5F5;
    background-size: 100% 3px;
}

.js-nav-body thead {
    color: #CCCCCC;
    font-family: 'Segoe Script', 'Courier New';
}

.js-nav-body tbody tr td a {
    display: block;
    text-align: center;
}

.js-nav-body tbody tr td:hover {
    box-shadow: 1px 1px 6px #336699;
}

.js-nav-link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.js-nav-link-container a {
    display: inline-block;
    margin: 0.03rem 0;
    padding: 0.01rem 0.02rem;
    width: 18%;
    border: 1px solid #1199FF;
    border-radius: 3px;
    white-space: nowrap;
}

.js-nav-link-container a:hover {
    background-color: #1199FF;
    color: #FFFFFF;
}

/********************* js-card *********************/
.js-card {
    position: relative;
    margin: 20px 0;
    padding: 7px 28px 20px 18px;
    border-radius: 6px;
		border: 0.3px solid #CCCCCC;
    box-shadow: 1px 1px 6px #CCCCCC;
    transition: all 0.3s ease-in-out;
}

.js-card:nth-child(even) {
    background-image: linear-gradient(
        0deg,
        rgba(240, 245, 249, 0.5) 50%,
        rgba(255, 255, 255, 0.5) 50%
    );
    background-size: 100% 3px;
}

.js-card:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.5);
}

.js-card:nth-child(odd) pre {
    /* border: 2px solid rgba(234, 234, 234, 0.2); */
}

.js-card:nth-child(odd) .js-card-code-src {
    z-index: 0;
}

.js-card:hover {
    box-shadow: 5px 5px 9px #CCCCCC;
}

/********************* js-title *********************/
.js-title {
		padding: 18px;
		border: none;
}

.js-title h2 {
    position: absolute;
    top: -8px;
    right: 10px;
    color: #535164 !important;
    font-size: 12.5px;
		font-weight: 400;
}

.js-title h2:before {
    content: '';
}
